params {
    work_dir             = 'work'
    distributed          = true
    multiRes             = false
    preserveAnisotropy   = false
    bdv                  = false
    spark_local_dir      = '/tmp/spark-local-tmp'
    spark_workers        = 1
    min_spark_workers    = 1
    spark_worker_cpus    = 1
    spark_mem_gb_per_cpu = 4
    spark_driver_cpus    = 1
    spark_driver_mem_gb  = 4
    spark_event_log      = false
}

process {

    withName:"(.*)?BIGSTITCHER_SPARK.*:.*" {
        // all processes that BigStitcher tasks use this container
        container = 'ghcr.io/janeliascicomp/bigstitcher:2.4.1-spark3.3.2-scala2.12-java17-ubuntu24.04'
        containerOptions = params.container_runtime_opts
        errorStrategy = 'terminate'

        ext.spark_local_dir = params.spark_local_dir
    }

}
