profiles {
    e11 {
        params {
            config_profile_contact       = 'Johan Winnubst (johan@e11.bio)'
            config_profile_name          = 'E11 Parallel Cluster'
            config_profile_description   = 'Slurm-based HPC cluster at E11 Bio'
            config_profile_url           = 'https://www.e11.bio'
            //default spark worker queue.
            spark_worker_queue           = "BIO"
        
        }

        workDir = '/nas/share1/scratch/nextflow'

        
        // Use Apptainer as the container engine
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        
        process {
            executor = 'slurm'

            // TODO nf-core: Check the defaults for all processes
            cpus   = { 1      * task.attempt }
            memory = { 6.GB   * task.attempt }
            time   = { 7.d    * task.attempt }

            errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
            maxRetries    = 3
            maxErrors     = '-1'

            // Process-specific resource requirements
            // NOTE - Please try and reuse the labels below as much as possible.
            //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
            //        If possible, it would be nice to keep the same label naming convention when
            //        adding in your local modules too.
            // TODO nf-core: Customise requirements for specific processes.
            // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
            withLabel:process_single {
                cpus   = { 1                   }
                memory = { 6.GB * task.attempt }
                time   = { 7.d  * task.attempt } //4h
                queue  = 'BIO'
            }
            withLabel:process_low {
                cpus   = { 2     * task.attempt }
                memory = { 12.GB * task.attempt }
                time   = { 7.d   * task.attempt } //4h
                queue  = 'BIO'                
            }
            withLabel:process_medium {
                cpus   = { 6     * task.attempt }
                memory = { 36.GB * task.attempt }
                time   = { 8.h   * task.attempt } 
            }
            //Not used.
            withLabel:process_high {
                cpus   = { 12    * task.attempt }
                memory = { 72.GB * task.attempt }
                time   = { 16.h  * task.attempt }
            }
            withLabel:process_long {
                time   = { 20.h  * task.attempt }
                queue = 'BIO'
            }
            //Not used.
            withLabel:process_high_memory {
                memory = { 200.GB * task.attempt }
            }
            withLabel:error_ignore {
                errorStrategy = 'ignore'
            }
            withLabel:error_retry {
                errorStrategy = 'retry'
                maxRetries    = 2
            }        

            withName:"SPARK_STARTWORKER" {
                // try to meet queue requirements for bigstitcher spark jobs (in this order)
                queue = params.spark_worker_queue
                time = '7.d'                
            }
            withName:"SPARK_STARTMANAGER" {
                // try to meet queue requirements for bigstitcher spark jobs (in this order)
                queue = 'BIO'
                time = '7.d'
            }


        }
        
 
    }
}
